 ul
{
list-style-type:none;
margin:0;
padding:0;
}
#nav li a:hover{
	background:#d5b6d6;
    cursor: pointer;
    border-radius: 30px;
}

#nav a {
text-decoration: none;
  color: #fff;
  display:block;
  
}

#nav{
	margin: 10px auto;
    width: 53%;
    height: 40px;
    background: #b0b0b0;
    border-radius: 30px;
   
}

ul.menu>li{
	float: left;
	margin:7px 21px 0px;
	height:25px;
	line-height: 25px;
	background:  #d5d4d4;
	border-radius: 30px;
	width: 100px;
	text-align: center;
	
}

ul.sub_menu>li{
	width: 100px;
	border-radius: 30px;
	background:  #d5d4d4;
}

 ul.menu>li:hover ul.sub_menu { 
	display:block;

}
ul.sub_menu { 

	display:none;
}
ul.sub_menu>li>ul{
	position:absolute;
	margin-left: 100px;
	margin-top: -25px;
	display:none;
}
ul.sub_menu>li>ul a{
	height: 25px;
	width: 50px;
	text-align: center;
	background:  #d5d4d4;
    border-radius: 30px;

}
ul.sub_menu>li:hover ul{
	display: block;
}

